*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* overflow-x: hidden; */
}

.imagem{
    background-image: url(Imagem/Logo.webp);
    height: 120vh;
    width: 222vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: rgb(255, 255, 255);
    border: solid 3px black;
    height: 50vh;
    box-shadow: 1px 1px 10px 10px black;
}

.menu > h1{
    box-shadow: 1px 1px 10px 10px black;
}

.menu > .base > ul{
    list-style-type: none;
    display: flex;
}

.menu > .base > ul > li{
    padding: 10px;
    font-size: small;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border-radius: 8px;
    margin: 30px;
    transition: 0.5s;
    box-shadow: 1px 1px 10px 10px black;
}

.menu > .base > ul > li:hover{
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}

.box-slider{
    width: 1200px;
    max-width: 100%;
    overflow: auto;
    margin: 30px auto;  
    scroll-behavior: smooth;
    transition:  0.5s ease;
}

.box-slider::-webkit-scrollbar{
    display: none;
}

.slider{
    display: flex;
}

.corpo{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 100%;
}

.corpo > h3{
    font-size: 20px;
}

.corpo > input{
    background-color: white;
    border-radius: 8px;
    border: 5px solid white;
}

.corpo > .decimal{
    background-image: url(Imagem/Banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo > .decimal > h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.corpo > .decimal > input{
    margin: auto;
    height: 80px;
    width: 200px;
}

.corpo > .octal{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo > .octal > h3{
    text-align: center;
    font-size: 50px;
}

.corpo > .octal > div{
    width: 50%;
    margin: auto;
}

.corpo > .hexadecimal{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo > .hexadecimal > h3{
    text-align: center;
    font-size: 50px;
}

.corpo > .hexadecimal > div{
    width: 50%;
    margin: auto;
}

.corpo > .binario{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo > .binario > h3{
    text-align: center;
    font-size: 50px;
}

.corpo > .binario > textarea{
    width: 50%;
    margin: auto;
}

.direction{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.direction > button{
    background-color: white;
    border: solid 2px whitesmoke;
    border-radius: 80px;
    padding: 15px;
}

.corpo2{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 100%;
}

.corpo2 > h3{
    font-size: 20px;
}

.corpo2 > textarea{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 5px solid white;
}

.corpo2 > .binario2{
    background-image: url(Imagem/Banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo2 > .binario2 > h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.corpo2 > .binario2 > textarea{
    margin: auto;
    height: 80px;
    width: 200px;
}

.corpo2 > .octal2{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo2 > .octal2 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo2 > .octal2 > div{
    width: 50%;
    margin: auto;
}

.corpo2 > .hexadecimal2{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo2 > .hexadecimal2 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo2 > .hexadecimal2 > div{
    width: 50%;
    margin: auto;
}

.corpo2 > .decimal2{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo2 > .decimal2 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo2 > .decimal2 > div{
    width: 50%;
    margin: auto;
}

/*  */

.corpo3{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 100%;
}

.corpo3 > h3{
    font-size: 20px;
}

.corpo3 > input{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 5px solid white;
}

.corpo3 > .octal3{
    background-image: url(Imagem/Banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo3 > .octal3 > h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.corpo3 > .octal3 > input{
    margin: auto;
    height: 80px;
    width: 200px;
}

.corpo3 > .hexadecimal3{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo3 > .hexadecimal3 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo3 > .hexadecimal3 > div{
    width: 50%;
    margin: auto;
}

.corpo3 > .binario3{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo3 > .binario3 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo3 > .binario3 > textarea{
    width: 50%;
    margin: auto;
}

.corpo3 > .decimal3{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo3 > .decimal3 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo3 > .decimal3 > div{
    width: 50%;
    margin: auto;
}

/*  */


.corpo4{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 100%;
}

.corpo4 > h3{
    font-size: 20px;
}

.corpo4 > input{
    background-color: white;
    border-radius: 8px;
    border: 5px solid white;
}

.corpo4 > .hexadecimal4{
    background-image: url(Imagem/Banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo4 > .hexadecimal4 > h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.corpo4 > .hexadecimal4 > input{
    margin: auto;
    height: 80px;
    width: 200px;
}

.corpo4 > .octal4{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo4 > .octal4 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo4 > .octal4 > div{
    width: 50%;
    margin: auto;
}

.corpo4 > .decimal4{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo4 > .decimal4 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo4 > .decimal4 > div{
    width: 50%;
    margin: auto;
}

.corpo4 > .binario4{
    background-image: url(Imagem/BannerResultado.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px 10px black;
    width: 300px;
}

.corpo4 > .binario4 > h3{
    text-align: center;
    font-size: 50px;
}

.corpo4 > .binario4 > textarea{
    width: 50%;
    margin: auto;
}
